body .loop-container.loop-layout-specials {
    align-items: stretch;
    align-content: stretch;

    .entry {
        background-color: white;
        padding: 30px;
        margin-bottom: 20px !important;
        border-radius: 3px;
        box-shadow: 0 0 10px 0 rgba(black, 0.03);
        position: relative;

        @include desktop {
            // text-align: center;
        }
    }

    .excerpt {
        @extend p;
        font-size: 18px;
        margin-bottom: 15px;
        line-height: 1.6em;
        // text-transform: uppercase;
        // font-weight: bold;
        // font-family: 'Lato', sans-serif;
        // color: $highlight !important;
    }

    .featured-image {
        padding-top: 55%;
        height: 0;
        width: 100%;
        display: block;
        background-size: cover;
        background-position: center center;
        border-radius: 3px;
    }

    .terms {
        font-style: italic;
        font-size: 16px;
        opacity: 0.7;
    }

    h3 {
        // color: $dark;
        // font-family: 'Libre Baskerville', serif;
        // font-family: 'garage';
        // font-weight: normal;
        // text-transform: uppercase;
        margin-bottom: 10px;
        line-height: 1.1em;

        @include desktop {
            font-size: 34px;
        }
    }

    .post-edit-link {
        text-align: right;
        position: absolute;
        right: 30px;
        bottom: 5px;
        margin: 0;
        padding: 0;
    }
}