@include notmobile {
    &.is-style-badge {
        position: relative;

        &:before {
            content: "";
            position: absolute;
            bottom: 0 !important;
            left: 0 !important;
            width: 130px;
            height: 130px;
            background-image: url('../images/badge.svg');
            background-size: contain;
            background-position: center center;
            display: block;
            left: calc(-130px / 3);
            bottom: calc(-130px / 3);

        }
    }
}