.is-style-circle {
    @include notmobile {

        &:before {
            content: "";
            position: absolute;
            width: 70px;
            height: 70px;
            display: block;
            border-radius: 100%;
            transform: translateX(-40%) translateY(-30%) rotate(-90deg);
            border: 5px solid transparent;
            border-color: $highlight transparent transparent $highlight;
            transition: 1s all ease;
            opacity: 0;
        }

        &.animate,
        &.block-editor-rich-text__editable {
            &:before {
                opacity: 1;
                transform: translateX(-40%) translateY(-30%);
            }
        }
    }
}