.button,
.gform_wrapper .gform_footer .gform_button.button {
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    background-color: $highlight;
    letter-spacing: 0.1em;
    font-size: 14px;
    padding: 25px 25px;
    line-height: 1em;
    position: static;
    transition: .3s all ease;
    border: 2px solid $highlight;
    border-radius: 3px;
    text-decoration: none !important;
    display: inline-block;

    &:after {
        content: "\f345";
        font-family: dashicons;
        width: 20px;
        height: 20px;
        background-color: red;
        border-radius: 100%;
        display: inline-block;
        margin-left: 7px;
        font-size: 14px;
        line-height: 1em;
        transform: translateY(2px);
        padding-top: 2px;
        padding-left: 2px;
        background-color: transparent;
        border: 1px solid white;
        transition: .7s all ease;
    }

    &:hover:after {
        transform: translateY(2px) translateX(2px) scale(1.10);
    }

    @include mobile {
        text-align: center;
        display: block;
        width: 100%;
    }

    &:hover,
    &:focus,
    &:active {
        background-color: lighten($highlight, 7%);
        border-color: lighten($highlight, 7%);
        color: white;
    }

    @each $name,
    $color in $colors {

        &.has-#{$name}-color,
        &.has-color-#{$name},
        &.#{$name} {
            color: $color;
        }

        &.has-#{$name}-background-color,
        &.background-#{$name},
        &.#{$name}-background {
            background-color: $color;
            border-color: $color;

            &:hover {
                background-color: lighten($color, 7%);
                border-color: lighten($color, 7%);
            }
        }
    }
}